$primary: #d6ca98;
$secondary: #fff7d8;
$black: #222;
$white: #eee;
$gutter-sm: 2vw;
$gutter-lg: $gutter-sm * 2;
$font-primary: 'helvetica';
$border-radius: 3px;


body {
  background: $secondary;
  font-family: $font-primary;

  .note-container {
    width: 100%;
    text-align: center;
    text-shadow: 2px 1px;
    font-size: 1vw;
  }

  li h2 {
    color: red;
  }

  pre {
    background: $black;
    color: $white;
    padding: $gutter-lg;
    border-radius: $border-radius;

    code {
      max-width: 50%;
      margin: $gutter-sm auto;
      font-size: 2.5vw;
    }
  }
}
