body {
  font-family: -apple-system, BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}
.dashboard-container {
  margin: 0 auto;
  width: 100%;
}

ul {
  padding: 2em;
}

li {
  list-style-type: none;
  padding: 7px;
}

.note-form {
  text-align: center;
}

input {
  border-radius: 3px;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.43);
  font-size: 16px;
  width: 80%;
}

button {
  color: #e6e6e6;
  background: #0a0a0a;
  border: none;
  font-size: 16px;
  border-radius: 3px;
  width: 200px;
  text-align: center;
  display: block;
  padding: 7px 0;
  margin: 10px auto;
}

button:hover:enabled {
  background: linear-gradient(#1a1a1a,#0a0a0a);
  color: #fff;
  text-decoration: none;
}

button:active {
  transform: translateY(1px);
}

h1 {
  border-radius: 3px;
  text-align: left;
  display: block;
  padding: 7px;
  margin: 10px auto;
}
